/* Estilos da pagina de upload */

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    margin: 0;
    background-color:  hsl(0, 0%, 99%); 
    color: #212529;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:hsl(239, 100%, 59%);  
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.container-fluid {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
}

.navbar-collapse {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    margin-left: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
}

.text-danger {
    color: #dc3545 !important; 
}

.me-auto { margin-right: auto !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-lg-0 { margin-bottom: 0 !important; }
.me-3 { margin-right: 1rem !important; }

.navbar-brand .logo {
    height: 100px;     
    width: auto; 
    vertical-align: middle; 
}

.d-flex { display: flex !important; }
.form-control {
    display: block;
    width: 100%; 
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box; 
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar .form-control {
    width: 150px;
    margin-right: 0.5rem; /* me-2 */
}

.form-control:focus {
    outline: none; 
    border-color: #9ecaeb; 
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-outline-success {
    color: cornflowerblue;
    border-color: black;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: cornflowerblue;
    border-color: cor;
}

.container {
    width: 100%;
    max-width: 1140px; 
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.mt-5 { margin-top: 3rem !important; } 

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem; 
    margin-right: -0.75rem; 
}

.col-lg-6 {
    flex: 0 0 auto; 
    width: 50%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.col-md-8 { 
    flex: 0 0 auto; 
    width: 66.66666667%; 
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.justify-content-center { justify-content: center !important; }


@media (max-width: 992px) { 
    .col-lg-6 { width: 66.66666667%; } 
}

@media (max-width: 768px) { 
    .col-md-8 { width: 100%; }
    .row { padding: 0 15px; } 
}

.text-center { text-align: center !important; }
.mb-4 { margin-bottom: 1.5rem !important; }

.form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    display: block;
}

.mb-3 { margin-bottom: 1rem !important; }


.btn-secundary { 
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529; 
    background-color: #f8f9fa; 
    border: 1px solid #6c757d; 
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.btn-secundary:hover {
    background-color: #e2e6ea;
    border-color: #595f64;
}

.d-grid { display: grid !important; }
.gap-2 { gap: 0.5rem !important; }
.mt-4 { margin-top: 1.5rem !important; }




/* Css das paginas de login e cadastro s2 */

body.login-page {
    background-color: #C7D2E5; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}


body.login-page .container {
     display: flex;
    width: 1020px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.lado-azul, .lado-branco {
    flex: 1; 
    height: 100%;
}


.lado-azul {
    background-color: cornflowerblue; 
    display: flex;
    justify-content: center; 
    align-items: center;
}


.lado-branco {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px 100px;
}
.conteudo-lado-azul {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.link-cadastro {
    color: white; 
    font-size: 17px; 
    text-align: center; 
    width: 100%;
    align-self: flex-end;
    margin-top: 15px;
}

.link-cadastro a {
    color:#1A237E; 
    text-decoration: none; 
    font-weight: bold;
}

.link-cadastro a:hover {
    text-decoration: underline; 
}

.imagem-centralizada {
    max-width: 80%; 
    height: auto;
}

.lado-branco h1 {
    margin-bottom: 20px;
    color: #1A237E;
    font-family:'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0 0 10px cornflowerblue;   
}
#form-login {
    margin-bottom: 0; 
}


.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.input-group label{
    color: black; 
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
}

.input-group input {

    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    height: 40px;
    width: 400px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    outline: none; 
    border-color: #9ecaeb; 
    box-shadow: 0 0 0 4px rgba(176, 213, 255, 0.6); 
}

.btn-primary{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    background-color: white;
    width: 150px;
    border-radius: 50px;
    border: solid 1px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    display: block;
}

.btn-primary:hover {
    background-color: cornflowerblue; 
    color: white; 
    border: none;
}